.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-face-basketball {
  font-family: "basketball";
 }
 .font-face-blank-river {
  font-family: "blank-river";
 }
 .font-face-game-of-squids {
  font-family: "game-of-squids";
 }
 .font-face-ghoust-outline {
  font-family: "ghoust-outline";
 }
 .font-face-ghoust-shadow {
  font-family: "ghoust-shadow";
 }
 .font-face-ghoust-solid {
  font-family: "ghoust-solid";
 }
 .font-face-graffiti-city {
  font-family: "graffiti-city";
 }
 .font-face-sega {
  font-family: "sega";
 }
 .font-face-tesla {
  font-family: "tesla";
 }

 
.grid-container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  font-family: "basketball";
}