.bottom-container { 
  width: 100%; 
  bottom: 0;
  height: 2.5rem;
  color: white;
  background-color: rgba(10, 10, 10, 0.911); 
  font-family: "blank-river";
  display: inline-block;  
}

.bottom-container i {
  color: white;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em; 
  padding: 5px;
  float: right;
}

.bottom-container i2 {
color: white;
margin-right: 0px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 3px;
font-size: 1.5em; 
padding: 5px;
display: inline-block;
float: left;
}
.bottom-container h1 {
display: inline-block;
}

.bottom-container h2 {
display: inline-block;
font-family: "sega";
}

.bottom-container h3 {
display: inline-block;
font-family: "basketball";
}

.bottom-container h3basketball {
display: inline-block;
font-family: "basketball";
}
.bottom-container h3blank-river {
display: inline-block;
font-family: "blank-river";
}

.bottom-container h3game-of-squids {
display: inline-block;
font-family: "game-of-squids";
}

.bottom-container h3graffiti-city {
display: inline-block;
font-family: "graffiti-city";
}

.bottom-container h3sega {
display: inline-block;
font-family: "sega";
}
.bottom-container h3tesla {
display: inline-block;
font-family: "tesla";
}
.bottom-container h3ghoust-outline {
display: inline-block;
font-family: "ghoust-outline";
}
.bottom-container h3ghoust-shadown {
display: inline-block;
font-family: "ghoust-shadow";
}
.bottom-container h3ghoust-solid {
display: inline-block;
font-family: "ghoust-solid";
}

 





