.top-container {
        box-sizing: border-box;
        width: 100%;
        color: rgb(252, 249, 249);
        background-color: rgba(10, 10, 10, 0.911); 
        font-family: "blank-river";
        display: inline-block;
    }
    
    .top-container i {
        color: white;
        display: inline-block;
        margin-right: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 1.5em; 
        padding: 5px;
        float: right;
    }
 
    .top-container i2 {
      color: white;
      margin-right: 0px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 3px;
      font-size: 1.5em; 
      padding: 5px;
      display: inline-block;
      float: left;
  }
  .top-container h1 {
    display: inline-block;
}

  .top-container h2 {
    display: inline-block;
    font-family: "sega";
}

  .top-container h3 {
    display: inline-block;
    font-family: "tesla";
}
    h2 {
      margin-top: 10px;
    }






    